.download_backups/
site/
*.pyc
__pycache__/
.el_deps/
.RData
.Rhistory
.Rproj.user/
.quarto/
node_modules/
.DS_Store
.el_deps/
.python-version
.venv/
env/
venv/
tests/__pycache__/
tests/.pytest_cache/

# Build artifacts and distributions
*.tar.gz
*.zip
dist/
build/
